<?xml version="1.0"?>
<config>
    <modules>
        <Test_GeoIP>
            <version>0.1.0</version>
        </Test_GeoIP>
    </modules>
    <global>
        <models>
            <test_geoip>
                <class>Test_GeoIP_Model</class>
            </test_geoip>
        </models>
        <blocks>
            <test_geoip>
                <class>Test_GeoIP_Block</class>
            </test_geoip>
        </blocks>
        <helpers>
            <test_geoip>
                <class>Test_GeoIP_Helper</class>
            </test_geoip>
        </helpers>
        <resources>
            <test_geoip_setup>
                <setup>
                    <module>Test_GeoIP</module>
                </setup>
            </test_geoip_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <test_geoip>
                    <file>test/geoip.xml</file>
                </test_geoip>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <test_geoip>
                                            <title>GeoIP - All</title>
                                        </test_geoip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>